---
interface Props {
  items: string[]
  label?: string
}

const { items, label = 'Tags' } = Astro.props
---

{items.length > 0 && (
  <ul class="hws-tag-list" aria-label={label}>
    {items.map((item) => <li class="hws-tag">{item}</li>)}
  </ul>
)}
